In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import torch
import torch.nn as nn

In [11]:
df_movies = pd.read_csv("dataset/movies.csv")
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [13]:
df_ratings = pd.read_csv("dataset/ratings.csv")
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [16]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [25]:
df_ratings.describe(include=float)

              rating
count  100836.000000
mean        3.501557
std         1.042529
min         0.500000
25%         3.000000
50%         3.500000
75%         4.000000
max         5.000000

In [33]:
len(df_ratings['movieId'].unique())

9724

In [36]:
len(df_ratings['userId'].unique())

610

In [ ]:
EMBEDDING_DIM = 20

In [39]:
class MatrixFactorization(nn.Module):
    def __init__(self, n_users, n_items):
        super(nn.Module).__init__()
        self.user_factor = nn.Embedding(n_users, EMBEDDING_DIM)
        self.item_factor = nn.Embedding(n_items, EMBEDDING_DIM)

    def forward(self, user, item):
        pass